@import "styles";

$git-logo-width: pxToRem(200px);
$git-logo-height: pxToRem(60px);

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.jumbotron {
    margin-bottom: 0;
    padding-top: pxToRem(10px);

    .container {
        // margin-left: pxToRem(20px);
        padding-left: pxToRem(20px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;

        .jumbotran-link {
            display: flex;
            flex-direction: column;
            
            a {
                align-self: flex-end;
            }
        }
    }

    .github-anchor {
        text-decoration: none;
        display: block;
        color: $bootstrap-light;
        width: fit-content;
        height: fit-content;

        .github-logo {
            &::before {
                content: '';
                background-image: url('src/assets/images/github_logo.png');
                display: block;
                background-size: $git-logo-width $git-logo-height;
                width: $git-logo-width;
                height: $git-logo-height;
            }
        }
    }
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;

    &-header {
        background-color: rgba(0, 0, 0, 0);
    }

    &-body {
        display: flex;
        flex-direction: column;
    }
}