<div class="home">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Angular Web Calculator</h1>
            <p class="lead">This calculator was developed using angular 7 framework, you can check it's code on:</p>
            
                <a class="github-anchor" href="https://github.com/guilhermeginezsilva/angular"><div class="fake-button">Ginez Git Projects</div></a>
            
        </div>
    </div>

    <div class="card text-dark bg-light" >
        <div class="card-header">
            <app-simple-calculator></app-simple-calculator>
        </div>
        <div class="card-body">
            <h5 class="card-title">Instructions:</h5>
            <p class="card-text">
                You can click on the buttons or use your keyboard (focus must be on the calculator). While using the keyboard only the keys below are allowed:
            </p>

            <span class="card-text">Numbers: 0 a 9;</span>
            <span class="card-text">Operators: + (sum), - (subtraction), * (multiplication) and / (division);</span>
            <span class="card-text">Commands: 'c' or 'C' (clear) and '='' or 'Enter' (equals);</span>
        </div>
    </div>
    
</div>