<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="jumbotran-title">
            <h1 class="display-4">Angular Web Calculator</h1>
            <h2 class="lead">This calculator was developed using angular 7 framework.</h2>
        </div>
        <div class="jumbotran-link">
            <h2>code available at:</h2>
            <a class="github-anchor" target="_blank" href="https://github.com/guilhermeginezsilva/angular"><div class="github-logo"></div></a>
        </div>
    </div>
</div>

<div class="card text-dark bg-light" >
    <div class="card-header">
        <app-simple-calculator></app-simple-calculator>
    </div>
    <div class="card-body">
        <h5 class="card-title">Instructions:</h5>
        <p class="card-text">
            You can click on the buttons or use your keyboard (focus must be on the calculator). While using the keyboard only the keys below are allowed:
        </p>

        <span class="card-text"><b>Numbers:</b> 0 to 9;</span>
        <span class="card-text"><b>Operators:</b> + (sum), - (subtraction), * (multiplication) and / (division);</span>
        <span class="card-text"><b>Commands:</b> 'c' or 'C' (clear) and '='' or 'Enter' (equals);</span>
    </div>
</div>